.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  outline: 1px solid teal;

  @media screen and (min-width: 400px) {
    width: 400px;
  }

  @media screen and (min-width: 820px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 820px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}
